* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background: url(img/burger_hamburger_buns.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

img.logo {
    margin-left: -320px;
    margin-top: -36px;
}

div.logo {
    margin-left: -151px;
}

.logo {

    height: 150px;
    width: 150px;
    border-radius: 45px;
    box-shadow: 0px 4px 50px 0px #000;

}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
/*1st box */
.wrapper .input-box1 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box1 input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 45px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;

}

.input-box1 input::placeholder {
    color: rgb(255, 255, 255);
}

.input-box1 i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
/*1st box end*/

/*2nd box*/

.wrapper .input-box2{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box2 input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 45px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;

}

.input-box2 input::placeholder {
    color: rgb(255, 255, 255);
}

.input-box2 i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/*2nd box end*/

/*3rd box*/

.wrapper .password1-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.password1-box input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 45px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;

}

.password1-box input::placeholder {
    color: rgb(255, 255, 255);
}

.password1-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/*3rd box end*/

/*4th box*/

.wrapper .password2-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.password2-box input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 45px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;

}

.password2-box input::placeholder {
    color: rgb(255, 255, 255);
}

.password2-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/*4th end*/

/*5th */

.wrapper .tp-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.tp-box input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 45px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;

}

.tp-box input::placeholder {
    color: rgb(255, 255, 255);
}

.tp-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/*6th */

.wrapper .email-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.email-box input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 45px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;

}

.email-box input::placeholder {
    color: rgb(255, 255, 255);
}

.email-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}